In [1]:
# dependancies
# possibly more than needed
import os
from pathlib import Path
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as st
from scipy.stats import linregress
import chardet

In [2]:
# Make list of column/headers for Great Big Dataframe (GBDf) with empty cells - Paul

# FIPS
# (five-digit code: the first two represent state, the last three represent county in that state)

# County
# (name, e.g. Jackson County in many states, but also Orleans Parish of Louisiana, or the Aleutians East Borough of Alaska)

# State (name)

# Pop
# (2019 county population estimate)

# PopDens
# (Population density; derived from county 2019 population estimate divided by county land mass in another dataframe)

# MskScore
# (Mask-wearing score derived from pct in each county who said never, rarely sometimes, frequently, always wear a mask when going out)

# CaseRate
# (cumulative COVID cases per 100,000 population by county January 21–July 14, 2020)

# DeathRate
# (cumulative COVID deaths per 100,000 population by county January 21–July 14, 2020)

# Income
# (Mean per-capita income by county; this is a bonus-round question)

In [8]:
columnNames = ["FIPS", "County", "State", "Pop", "PopDens", "MskScore", "CaseRate", "DeathRate", "Income"]
GBDf = pd.DataFrame(columns = columnNames)
# placeholderData = ["01001", "Autauga", "Alabama", "55869", "94.0", "7.51", "0", "1335", "32"]
placeholderData = "FIPS":"01001", "County":"Autauga", "State":"Alabama", "Pop":55869, "PopDens":94.0, "MskScore":7.51, "CaseRate":1335, "DeathRate":32, "Income":""
GBDf = GBDf.append(placeholderData, ignore_index=True)
GBDf

SyntaxError: invalid syntax (<ipython-input-8-442dd07c66bb>, line 4)

In [4]:
# Aleena's code starts here

In [5]:
# 1. US Census 2010-2019
censusDataReadMeURL = "https://www.census.gov/data/tables/time-series/demo/popest/2010s-counties-total.html"

# This is where the census data .CSV lives locally...:
censusDataFilepath = "Resources/co-est2019-alldata_exp.csv"

print(f"{censusDataFilepath} is {round(os.path.getsize(censusDataFilepath)/1024/1024, 2)} megabytes (MB).\nMore info here:\n{censusDataReadMeURL}")

Resources/co-est2019-alldata_exp.csv is 0.15 megabytes (MB).
More info here:
https://www.census.gov/data/tables/time-series/demo/popest/2010s-counties-total.html

In [6]:
censusData = pd.read_csv(censusDataFilepath, encoding="iso-8859-1")
censusData

,FIPS,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,POPESTIMATE2019
0,1001,1,1,Alabama,Autauga County,54571,55869
1,1003,1,3,Alabama,Baldwin County,182265,223234
2,1005,1,5,Alabama,Barbour County,27457,24686
3,1007,1,7,Alabama,Bibb County,22915,22394
4,1009,1,9,Alabama,Blount County,57322,57826
...,...,...,...,...,...,...,...
3137,56037,56,37,Wyoming,Sweetwater County,43806,42343
3138,56039,56,39,Wyoming,Teton County,21294,23464
3139,56041,56,41,Wyoming,Uinta County,21118,20226
3140,56043,56,43,Wyoming,Washakie County,8533,7805
3141,56045,56,45,Wyoming,Weston County,7208,6927

In [7]:
censusData.dtypes

FIPS                int64
STATE               int64
COUNTY              int64
STNAME             object
CTYNAME            object
CENSUS2010POP       int64
POPESTIMATE2019     int64
dtype: object

In [8]:
censusData.dtypes

In [ ]:
# Aleena's code ends here for now

In [9]:
# Matt's code starts here

In [10]:
# 2. COVID-19 cases
caseDataReadMeURL = "https://github.com/nytimes/covid-19-data/blob/master/README.md"

# This is where the .CSV lives locally...:
caseDataFilepath = "Resources/us-counties.csv"

print(f"The file at {caseDataFilepath} is {round(os.path.getsize(caseDataFilepath)/1024/1024, 2)} MB.\nMore info here:\n{caseDataReadMeURL}")

The file at Resources/us-counties.csv is 0.12 MB.
More info here:
https://github.com/nytimes/covid-19-data/blob/master/README.md

In [11]:
caseData = pd.read_csv(caseDataFilepath, encoding = "UTF-8")
caseData

           date   county         state    fips  cases  deaths
0     7/14/2020  Autauga       Alabama  1001.0    746      18
1     7/14/2020  Baldwin       Alabama  1003.0   1414      12
2     7/14/2020  Barbour       Alabama  1005.0    428       3
3     7/14/2020     Bibb       Alabama  1007.0    236       2
4     7/14/2020   Blount       Alabama  1009.0    366       1
...         ...      ...           ...     ...    ...     ...
3155  7/14/2020  Unknown  North Dakota     NaN      4       4
3156  7/14/2020  Unknown  Rhode Island     NaN   2085      30
3157  7/14/2020  Unknown          Utah     NaN      0       9
3158  7/14/2020  Unknown       Vermont     NaN      5       0
3159  7/14/2020  Unknown     Wisconsin     NaN   2972       7

[3160 rows x 6 columns]

In [12]:
caseData.dtypes

date       object
county     object
state      object
fips      float64
cases       int64
deaths      int64
dtype: object

In [13]:
caseData.dtypes

In [ ]:
# Matt's code ends here for now

In [14]:
# Emerson's code starts here

In [15]:
# 3. mask-wearing survey
maskWearingDataReadMeURL = "https://github.com/nytimes/covid-19-data/blob/master/README.md"
# This is where the census data .CSV lives locally...:
maskWearingDataFilepath = "Resources/mask-use-by-county-exp.csv"

print(f"{maskWearingDataFilepath} is {round(os.path.getsize(maskWearingDataFilepath)/1024/1024, 2)} MB.\nMore info here:\n{maskWearingDataReadMeURL}")

Resources/mask-use-by-county-exp.csv is 0.12 MB.
More info here:
https://github.com/nytimes/covid-19-data/blob/master/README.md

In [16]:
maskWearingData = pd.read_csv(maskWearingDataFilepath)
maskWearingData

      COUNTYFP   NEVER  RARELY SOMETIMES FREQUENTLY  ALWAYS
0         1001   5.30%   7.40%    13.40%     29.50%  44.40%
1         1003   8.30%   5.90%     9.80%     32.30%  43.60%
2         1005   6.70%  12.10%    12.00%     20.10%  49.10%
3         1007   2.00%   3.40%     9.60%     27.80%  57.20%
4         1009   5.30%  11.40%    18.00%     19.40%  45.90%
...        ...     ...     ...       ...        ...     ...
3137     56037   6.10%  29.50%    23.00%     14.60%  26.80%
3138     56039   9.50%  15.70%    16.00%     24.70%  34.00%
3139     56041   9.80%  27.80%    15.40%     20.70%  26.40%
3140     56043  20.40%  15.50%     6.90%     28.50%  28.70%
3141     56045  14.20%  12.90%    14.80%     20.70%  37.40%

[3142 rows x 6 columns]

In [17]:
maskWearingData.dtypes

COUNTYFP       int64
NEVER         object
RARELY        object
SOMETIMES     object
FREQUENTLY    object
ALWAYS        object
dtype: object

In [18]:
maskWearingData.dtypes

This will use the results of the NYT survey to score each county on a scale from 0 to 10 where
never = 0
rarely = 2.5
sometimes = 5.0
frequently = 7.5
always = 10.0

In [ ]:
scale = 10
divisions = 5
interval = scale / (divisions-1)
print(f"This will use the results of the NYT survey to score each county on a scale from 0 to {scale} where")
print(f"never = 0")
print(f"rarely = {interval}")
print(f"sometimes = {interval*2}")
print(f"frequently = {interval*3}")
print(f"always = {interval*4}")

In [19]:
# Each county can be represented by a mask-wearing score.
# maskWearingData.insert(1, "Mask Wearing Score", 0)
# maskWearingData

# maskWearingData["Mask Wearing Score"] = maskWearingData["RARELY"] * interval + maskWearingData["RARELY"] * interval * 2 +  maskWearingData["SOMETIMES"] * interval * 3 + maskWearingData["FREQUENTLY"] * interval * 4  + maskWearingData["ALWAYS"] * interval * 5

In [20]:
# maskWearingScore = rarely*interval + sometimes*interval*2 + frequently*interval*3 + always*interval*4

In [21]:
# Emerson's code ends here for now

In [22]:
# Paul's code starts here

In [23]:
# 4. land mass (and thence population density)
landMassDataReadMeURL = ""
# This is where the land mass data .CSV lives locally...:
landMassDataFilepath = "Resources/counties-by-land-area.csv"

print(f"{landMassDataFilepath} is {round(os.path.getsize(landMassDataFilepath)/1024/1024, 2)} MB.\nMore info here:\n{landMassDataReadMeURL}")

Resources/counties-by-land-area.csv is 0.12 MB.
More info here:

In [24]:
landMassData = pd.read_csv(landMassDataFilepath)
landMassData

       FIPS       NAME   STATE_NAME  POPULATION  POP_SQMI  POP2010
0      1001    Autauga      Alabama       56319      93.2    54571
1      1003    Baldwin      Alabama      209227     127.6   182265
2      1005    Barbour      Alabama       27072      29.9    27457
3      1007       Bibb      Alabama       22932      36.6    22915
4      1009     Blount      Alabama       57596      88.5    57322
...     ...        ...          ...         ...       ...      ...
3215  72145  Vega Baja  Puerto Rico         -99     -99.0      -99
3216  72147    Vieques  Puerto Rico         -99     -99.0      -99
3217  72149   Villalba  Puerto Rico         -99     -99.0      -99
3218  72151    Yabucoa  Puerto Rico         -99     -99.0      -99
3219  72153      Yauco  Puerto Rico         -99     -99.0      -99

[3220 rows x 6 columns]

In [25]:
landMassData.dtypes

FIPS            int64
NAME           object
STATE_NAME     object
POPULATION      int64
POP_SQMI      float64
POP2010         int64
dtype: object

In [ ]:
landMassData.dtypes

In [ ]:
# counties_by_land_area.csv

In [ ]:
# Paul's code ends here