In [14]:
# dependancies
# possibly more than needed
import os
from pathlib import Path
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as st
from scipy.stats import linregress
import chardet
mp = "Rats."
ew = "Excelsior!"

In [15]:
# 1. US Census 2010-2019
censusDataReadMeURL = "https://www.census.gov/data/tables/time-series/demo/popest/2010s-counties-total.html"

# This is where the census data .CSV lives locally...:
censusDataFilepath = "Resources/co-est2019-alldata_exp.csv"

print(f"{censusDataFilepath} is {round(os.path.getsize(censusDataFilepath)/1024/1024, 2)} megabytes (MB).\nMore info here:\n{censusDataReadMeURL}")

Resources/co-est2019-alldata_exp.csv is 0.15 megabytes (MB).
More info here:
https://www.census.gov/data/tables/time-series/demo/popest/2010s-counties-total.html

In [16]:
censusData = pd.read_csv(censusDataFilepath, encoding="iso-8859-1")
censusData

,FIPS,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,POPESTIMATE2019
0,1000,1,0,Alabama,Alabama,4779736,4903185
1,1001,1,1,Alabama,Autauga County,54571,55869
2,1003,1,3,Alabama,Baldwin County,182265,223234
3,1005,1,5,Alabama,Barbour County,27457,24686
4,1007,1,7,Alabama,Bibb County,22915,22394
...,...,...,...,...,...,...,...
3188,56037,56,37,Wyoming,Sweetwater County,43806,42343
3189,56039,56,39,Wyoming,Teton County,21294,23464
3190,56041,56,41,Wyoming,Uinta County,21118,20226
3191,56043,56,43,Wyoming,Washakie County,8533,7805
3192,56045,56,45,Wyoming,Weston County,7208,6927

In [20]:
print(ew)

Excelsior!

In [21]:
# 2. COVID-19 cases
caseDataReadMeURL = "https://github.com/nytimes/covid-19-data/blob/master/README.md"

# This is where the .CSV lives locally...:
caseDataFilepath = "Resources/us-counties.csv"

print(f"The file at {caseDataFilepath} is {round(os.path.getsize(caseDataFilepath)/1024/1024, 2)} MB.\nMore info here:\n{caseDataReadMeURL}")

The file at Resources/us-counties.csv is 39.29 MB.
More info here:
https://github.com/nytimes/covid-19-data/blob/master/README.md

In [22]:
caseData = pd.read_csv(caseDataFilepath, encoding = "iso-8859-1")
caseData

               date      county       state     fips  cases  deaths
0        2020-01-21   Snohomish  Washington  53061.0      1     0.0
1        2020-01-22   Snohomish  Washington  53061.0      1     0.0
2        2020-01-23   Snohomish  Washington  53061.0      1     0.0
3        2020-01-24        Cook    Illinois  17031.0      1     0.0
4        2020-01-24   Snohomish  Washington  53061.0      1     0.0
...             ...         ...         ...      ...    ...     ...
1011388  2021-02-08  Sweetwater     Wyoming  56037.0   3559    33.0
1011389  2021-02-08       Teton     Wyoming  56039.0   3257     7.0
1011390  2021-02-08       Uinta     Wyoming  56041.0   1988    12.0
1011391  2021-02-08    Washakie     Wyoming  56043.0    869    26.0
1011392  2021-02-08      Weston     Wyoming  56045.0    618     5.0

[1011393 rows x 6 columns]

In [23]:
print(ew)

Excelsior!

In [24]:
# 3. mask-wearing survey
maskWearingDataReadMeURL = "https://github.com/nytimes/covid-19-data/blob/master/README.md"
# This is where the census data .CSV lives locally...:
maskWearingDataFilepath = "Resources/mask-use-by-county-exp.csv"

print(f"{maskWearingDataFilepath} is {round(os.path.getsize(maskWearingDataFilepath)/1024/1024, 2)} MB.\nMore info here:\n{maskWearingDataReadMeURL}")

Resources/mask-use-by-county-exp.csv is 0.12 MB.
More info here:
https://github.com/nytimes/covid-19-data/blob/master/README.md

In [25]:
maskWearingData = pd.read_csv(maskWearingDataFilepath)
maskWearingData

      COUNTYFP   NEVER  RARELY SOMETIMES FREQUENTLY  ALWAYS
0         1001   5.30%   7.40%    13.40%     29.50%  44.40%
1         1003   8.30%   5.90%     9.80%     32.30%  43.60%
2         1005   6.70%  12.10%    12.00%     20.10%  49.10%
3         1007   2.00%   3.40%     9.60%     27.80%  57.20%
4         1009   5.30%  11.40%    18.00%     19.40%  45.90%
...        ...     ...     ...       ...        ...     ...
3137     56037   6.10%  29.50%    23.00%     14.60%  26.80%
3138     56039   9.50%  15.70%    16.00%     24.70%  34.00%
3139     56041   9.80%  27.80%    15.40%     20.70%  26.40%
3140     56043  20.40%  15.50%     6.90%     28.50%  28.70%
3141     56045  14.20%  12.90%    14.80%     20.70%  37.40%

[3142 rows x 6 columns]

In [27]:
print(ew)

Excelsior!

In [30]:
# Each county can be represented by a mask-wearing score, let's say on a scale from 0 to 10.
# There are five values: never, rarely, sometimes, frequently, and always.
# pct never x 0
# pct rarely x 2.5
# pct sometimes x 5
# pct frequently x 7.5
# pct always x 10
# mask-wearing score is the sum of the five (really four) numbers above.

maskWearingData.insert(1, "Mask Wearing Score", 1)
maskWearingData

,COUNTYFP,Mask Wearing Score,NEVER,RARELY,SOMETIMES,FREQUENTLY,ALWAYS
0,1001,1,5.30%,7.40%,13.40%,29.50%,44.40%
1,1003,1,8.30%,5.90%,9.80%,32.30%,43.60%
2,1005,1,6.70%,12.10%,12.00%,20.10%,49.10%
3,1007,1,2.00%,3.40%,9.60%,27.80%,57.20%
4,1009,1,5.30%,11.40%,18.00%,19.40%,45.90%
...,...,...,...,...,...,...,...
3137,56037,1,6.10%,29.50%,23.00%,14.60%,26.80%
3138,56039,1,9.50%,15.70%,16.00%,24.70%,34.00%
3139,56041,1,9.80%,27.80%,15.40%,20.70%,26.40%
3140,56043,1,20.40%,15.50%,6.90%,28.50%,28.70%
3141,56045,1,14.20%,12.90%,14.80%,20.70%,37.40%